<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.mapper.PermissionMapper">

    <select id="listByUserId" resultType="Permission">
        SELECT * FROM t_permission WHERE id in(
            SELECT permission_id FROM t_role_permission t WHERE role_id = (
                SELECT role_id FROM t_user_role a WHERE user_id=#{id}
            )
        )
    </select>
</mapper>
