<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.mapper.SetmealMapper">

    <select id="getCountSetmeal" resultType="java.util.Map">
        SELECT (SELECT `name` FROM t_setmeal WHERE id = t_order.setmeal_id) `name`,COUNT(*) `value`
        FROM t_order
        GROUP BY setmeal_id
    </select>
</mapper>
